.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    //max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/**********NON Scaffolding generated CSS starts below*******/
/* Custom Common CSS*/
.fl{
  float:left;
}
.width100{
  width:100%;
}
.mar-b-lg{
  margin-bottom:40px;
}

.mar-b-md{
  margin-bottom:20px;
}

.no-margin{
  margin:0px !important;
}

.large-font{
  font-size: 24px;
}

.large-example{
  width:1218px;
}


/*Custom app css for Carousel*/

.title-font{
  color:#555;
  font-size:2em;
}
.author-font{
  color:#666;
  font-size:1em;
}

.sort-options{
  font-size:18px;
  font-weight: normal;
}
.sort-options .label{
  cursor: pointer;
  padding-left:20px;
  padding-right:20px;
  margin-right: 20px;
}
.carousel-cont{
  height:inherit;
  position:relative;
  -moz-box-shadow: 0 3px 3px -1px #c2cacc,0 -3px 3px -1px #c2cacc;
-webkit-box-shadow: 0 3px 3px -1px #c2cacc,0 -3px 3px -1px #c2cacc;
box-shadow: 0 3px 3px -1px #c2cacc,0 -3px 3px -1px #c2cacc;
}

.carousel-cont .slides-cont{
  position:relative;
  height:inherit;
  overflow: hidden;

}

.carousel-cont .left-arrow, .carousel-cont .right-arrow{
  position:absolute;
  top: calc(50% - 39px);
  height:78px;
  width:78px;
  cursor: pointer;
  z-index: 105;
  background: red;
  border-radius: 5px;
}
.carousel-cont .left-arrow{
  left:-65px;
}
.carousel-cont .right-arrow{
  right:-65px;
}

.carousel-cont .slides-cont .slide-reel{
  transition: transform ease 1000ms;
}
.carousel-cont .slides-cont .slide-reel .slide{
  float:left;
  position: relative;
}
.carousel-cont .slides-cont .slide-reel .slide .slide-title{
color:#555;
line-height: 36px;
font-size: 1.5em;
}
.carousel-cont .slides-cont .slide-reel .slide .slide-img{
  object-fit: cover;
  border: 1px solid #c2cacc;
  padding:3px;
  height:auto;
}

.carousel-cont .slides-cont .slide-reel .slide .slide-body{

}


/**********Custom app css for Carousel ends*********/
