<div class="width100 carousel-cont">
  <div class="album-header">
  </div>
  <h3 class="album-title">{{album.name}}</h3>
  <div class="slides-cont pr" style="height:{{slideH}}px;">
    <span class="left-arrow">
      <img src="/images/left.png"></img>
    </span>
    <div class="slide-reel" style="width:{{reelWidth}}px;">

        <slide photo="photo" slide-width="{{slideW}}" slide-height="{{slideH}}"  ng-repeat="photo in slideList"></slide>

    </div>
    <span class="right-arrow">
      <img src="/images/right.png"></img>
    </span>
  </div>

  <div class="thumbnails">

  </div>
</div>
